{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="equipe">
   <div class="row">     
     <div class="card col-12 col-md-3">
       <img src="https://www.jeancoutu.com/globalassets/revamp/photo/conseils-photo/20160302-01-reseaux-sociaux-profil/photo-profil_301783868.jpg" alt="" class="img-responsive2" width="100%">
       </div>
     <div class="card col-12 col-md-2">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptates .</p>
       <div class="logo">
       <a href="www.facebook.com" class="fa fa-facebook"></a>
         </div>
     </div> 
      <div class="card col-12 col-md-3">
       <img src="https://www.jeancoutu.com/globalassets/revamp/photo/conseils-photo/20160302-01-reseaux-sociaux-profil/photo-profil_301783868.jpg" alt="" class="img-responsive2" width="100%" >
       </div>
     <div class="card col-12 col-md-2">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptates .</p>       
     </div> 
   </div>    
  </div>
</div>

<div class="container-fluid">
  <div class="equipe">
   <div class="row">     
     <div class="card col-12 col-md-3">
       <img src="https://www.jeancoutu.com/globalassets/revamp/photo/conseils-photo/20160302-01-reseaux-sociaux-profil/photo-profil_301783868.jpg" alt="" class="img-responsive2" width="100%">
       </div>
     <div class="card col-12 col-md-2">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptates .</p>       
     </div> 
      <div class="card col-12 col-md-3">
       <img src="https://www.jeancoutu.com/globalassets/revamp/photo/conseils-photo/20160302-01-reseaux-sociaux-profil/photo-profil_301783868.jpg" alt="" class="img-responsive2" width="100%">
       </div>
     <div class="card col-12 col-md-2">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptates .</p>       
     </div> 
   </div>    
  </div>
</div>
{% endblock %}
